<div class="card mb-2">
    <div class="card-header bg-info text-white">
        <h5>Stats</h5>
    </div>
    <div class="card-body">
        <p>Images: {{sidebar.stats.images}}</p>
        <p>Comments: {{sidebar.stats.comments}}</p>
        <p>Views: {{sidebar.stats.views}}</p>
        <p>Likes: {{sidebar.stats.likes}}</p>
    </div>
</div>