<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ImgShare</title>
</head>
<body>
    <div class="nav navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                Logo
            </a>
        </div>
    </div>
    
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                 {{{body}}}
            </div>
            <div class="col-md-4">

            </div>
        </div>
       
    </div>

<!--SCRIPT-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!--CUSTOM CODE-->
  <script src="/public/js/scripts.js"></script>
</body>
</html>